// HeaderLayout
.ant-layout-header {
  height: 48px;
  padding: 0 16px;
  line-height: 48px;
  background-color: #ff6720;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

// HeaderSystemMenu
.ant-menu-horizontal {
    width: calc(100% - 200px);
    background-color: #ff6720;
    border-bottom: none;

    & > .ant-menu-item {
      color: #fff !important;

      &:hover,
      &.ant-menu-item-selected {
        font-weight: 500;

        &::after {
          border-color: #fff !important;
        }
      }
    }
  }

  // SiderLayout
  .ant-menu-inline,
  .ant-menu-inline-collapsed {
    height: calc(100% - 53px);
    margin-top: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 0;
  }

  .icons__wrapper {
    position: absolute;
    bottom: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }