@include b(form) {}

@include e(line) {
  display: inline-block;
  height: 100%;
}

@include b(menu) {
}

@include e(center) {
  text-align: center;

  .ant-btn {
    margin: 0 5px;
  }
}

@include e(right) {
  text-align: right;
}

.ant-btn + .ant-btn {
  margin-left: 10px;
}