// _bem.scss
$namespace: 'n';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';
$B: null;
$parentSelector: null;

// _color.scss
$color: (
  fff: #fff,
  1c1d21: #1c1d21,
  262626: #262626,
  76777b: #76777b,
);

// _flex.scss
$flex: (
  // 默认值：nowrap
  flex-wrap: (wrap wrap-reverse),
  // 默认值：center
  justify-content: (flex-start flex-end space-between space-evenly space-around),
  // 默认值：center
  align-items: (stretch flex-start flex-end baseline),
  // 默认值：stretch
  align-content: (center flex-start flex-end space-between space-around)
);

// _height.scss
$height: (
  100vh: 100vh,
);

// _margin.scss
$margin: (
  // margin-left: #{$v};
  l-4: 4px,
  l-8: 8px,
  l-12: 12px,
  l-16: 16px,
  l-86: 86px,
  // margin-top: #{$v};
  t-16: 16px,
  t-20: 20px,
  t-48: 48px,
  // margin-right: #{$v};
  r-4: 4px,
  // margin-bottom: #{$v};
  b-4: 4px,
  // margin: #{$v} 0;
  v-24: 24px,
  // margin: 0 #{$v};
  // margin: #{$v};
  g-8-0-0-16: 8px 0 0 16px,
  g-10-10-0: 10px 10px 0,
);

// _padding.scss
$padding: (
  // padding-right: #{$v};
  // padding-bottom: #{$v};
  // padding: #{$v} 0;
  v-10: 10px,
  v-14: 14px,
  // padding: 0 #{$v};
  h-16: 16px,
  // padding: #{$v};
  d-10-10-0: 10px 10px 0,
);

// _width.scss
$width: (
  100p: 100%,
  180: 180px,
  400: 400px,
);