@import "./variable";

@import "./mixin/bem";
@import "./mixin/flex";

@import "./base/color";
@import "./base/divider";
@import "./base/height";
@import "./base/margin";
@import "./base/padding";
@import "./base/text";
@import "./base/width";

@import "./components/form";
@import "./components/image";

@import "./reset/layout";
@import "./reset/vuedoc";

// Row.tsx
@include flex-layout(row row-reverse);

.f-l {
  float: left;
}

.vuedoc {
  background-color: white;
  padding: 15px;
}
